Service Descriptors/ES_TS_ProductManagement.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.EniqueSolutions/BW6Traning/ES_TS_ProductManagement/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.EniqueSolutions.com/BW6Training/ES_BS_ProductManagement" name="ES_TS_ProductManagement" targetNamespace="http://www.tibco.EniqueSolutions/BW6Traning/ES_TS_ProductManagement/">
          
  
  
  
  <wsdl:types>
                    
    
    
    
    <xsd:schema targetNamespace="http://www.tibco.EniqueSolutions/BW6Traning/ES_TS_ProductManagement/">
                              
      
      
      
      <xsd:element name="GetAllProducts">
                                        
        
        
        
        <xsd:complexType>
                                                  
          
          
          
          <xsd:sequence>
                                                            
            
            
            
            <xsd:element name="in" type="xsd:string"/>
                                                          
          
          
          
          </xsd:sequence>
                                                
        
        
        
        </xsd:complexType>
                                      
      
      
      
      </xsd:element>
                              
      
      
      
      <xsd:element name="GetAllProductsResponse">
                                        
        
        
        
        <xsd:complexType>
                                                  
          
          
          
          <xsd:sequence>
                                                            
            
            
            
            <xsd:element name="out" type="xsd:string"/>
                                                          
          
          
          
          </xsd:sequence>
                                                
        
        
        
        </xsd:complexType>
                                      
      
      
      
      </xsd:element>
                              
      
      
      
      <xsd:element name="GetProductsByCategory">
                                      	
        
        
        
        <xsd:complexType>
                                              		
          
          
          
          <xsd:sequence>
                                                      			
            
            
            
            <xsd:element name="in" type="xsd:string"/>
                                                      		
          
          
          
          </xsd:sequence>
                                              	
        
        
        
        </xsd:complexType>
                                      
      
      
      
      </xsd:element>
                              
      
      
      
      <xsd:element name="GetProductsByCategoryResponse">
                                      	
        
        
        
        <xsd:complexType>
                                              		
          
          
          
          <xsd:sequence>
                                                      			
            
            
            
            <xsd:element name="out" type="xsd:string"/>
                                                      		
          
          
          
          </xsd:sequence>
                                              	
        
        
        
        </xsd:complexType>
                                      
      
      
      
      </xsd:element>
                              
      
      
      
      <xsd:element name="GetIndividualProduct">
                                      	
        
        
        
        <xsd:complexType>
                                              		
          
          
          
          <xsd:sequence>
                                                      			
            
            
            
            <xsd:element name="in" type="xsd:string"/>
                                                      		
          
          
          
          </xsd:sequence>
                                              	
        
        
        
        </xsd:complexType>
                                      
      
      
      
      </xsd:element>
                              
      
      
      
      <xsd:element name="GetIndividualProductResponse">
                                      	
        
        
        
        <xsd:complexType>
                                              		
          
          
          
          <xsd:sequence>
                                                      			
            
            
            
            <xsd:element name="out" type="xsd:string"/>
                                                      		
          
          
          
          </xsd:sequence>
                                              	
        
        
        
        </xsd:complexType>
                                      
      
      
      
      </xsd:element>
                              
      
      
      
      <xsd:element name="AddIndividualProduct">
                                      	
        
        
        
        <xsd:complexType>
                                              		
          
          
          
          <xsd:sequence>
                                                      			
            
            
            
            <xsd:element name="in" type="xsd:string"/>
                                                      		
          
          
          
          </xsd:sequence>
                                              	
        
        
        
        </xsd:complexType>
                                      
      
      
      
      </xsd:element>
                              
      
      
      
      <xsd:element name="AddIndividualProductResponse">
                                      	
        
        
        
        <xsd:complexType>
                                              		
          
          
          
          <xsd:sequence>
                                                      			
            
            
            
            <xsd:element name="out" type="xsd:string"/>
                                                      		
          
          
          
          </xsd:sequence>
                                              	
        
        
        
        </xsd:complexType>
                                      
      
      
      
      </xsd:element>
                            
    
    
    
    </xsd:schema>
                    
    
    
    
    <xsd:schema>
                            	
      
      
      
      <xsd:import namespace="http://www.EniqueSolutions.com/BW6Training/ES_BS_ProductManagement" schemaLocation="../Schemas/ES_BS_ProductManagement.xsd">
    	</xsd:import>
                      
    
    
    </xsd:schema>
              
  
  
  </wsdl:types>
          
  
  
  
  <wsdl:message name="GetAllProductsRequest">
                    
    
    
    
    <wsdl:part element="xsd1:GetAllProductsReq" name="parameters"/>
                  
  
  
  
  </wsdl:message>
          
  
  
  
  <wsdl:message name="GetAllProductsResponse">
                    
    
    
    
    <wsdl:part element="xsd1:GetAllProductsRes" name="parameters"/>
                  
  
  
  
  </wsdl:message>
          
  
  
  
  <wsdl:message name="GetProductsByCategoryRequest">
                  	
    
    
    
    <wsdl:part element="xsd1:GetProductByCategoryReq" name="parameters"/>
                  
  
  
  
  </wsdl:message>
          
  
  
  
  <wsdl:message name="GetProductsByCategoryResponse">
                  	
    
    
    
    <wsdl:part element="xsd1:GetProductByCategoryRes" name="parameters"/>
                  
  
  
  
  </wsdl:message>
          
  
  
  
  <wsdl:message name="GetIndividualProductRequest">
                  	
    
    
    
    <wsdl:part element="xsd1:GetIndividualProductReq" name="parameters"/>
                  
  
  
  
  </wsdl:message>
          
  
  
  
  <wsdl:message name="GetIndividualProductResponse">
                    
    
    
    <wsdl:part name="parameters" type="xsd1:GetIndividualProductResType"/>
                
  
  
  </wsdl:message>
          
  
  
  
  <wsdl:message name="AddIndividualProductRequest">
                  	
    
    
    
    <wsdl:part element="xsd1:AddIndividualProductReq" name="parameters"/>
                  
  
  
  
  </wsdl:message>
          
  
  
  
  <wsdl:message name="AddIndividualProductResponse">
                  	
    
    
    
    <wsdl:part element="xsd1:AddIndividualProductRes" name="parameters"/>
                  
  
  
  
  </wsdl:message>
          
  
    
      
      
  
  <wsdl:portType name="ES_TS_ProductManagement">
                    
    
    
    
    <wsdl:operation name="GetAllProducts">
                              
      
      
      
      <wsdl:input message="tns:GetAllProductsRequest"/>
                              
      
      
      
      <wsdl:output message="tns:GetAllProductsResponse"/>
                            
    
    
    
    </wsdl:operation>
                    
    
    
    
    <wsdl:operation name="GetProductsByCategory">
                            	
      
      
      
      <wsdl:input message="tns:GetProductsByCategoryRequest"/>
                            	
      
      
      
      <wsdl:output message="tns:GetProductsByCategoryResponse"/>
                            
    
    
    
    </wsdl:operation>
                    
    
    
    
    <wsdl:operation name="GetIndividualProduct">
                            	
      
      
      
      <wsdl:input message="tns:GetIndividualProductRequest"/>
                            	
      
      
      
      <wsdl:output message="tns:GetIndividualProductResponse"/>
                            
    
    
    
    </wsdl:operation>
                    
    
    
    
    <wsdl:operation name="AddIndividualProduct">
                            	
      
      
      
      <wsdl:input message="tns:AddIndividualProductRequest"/>
                            	
      
      
      
      <wsdl:output message="tns:AddIndividualProductResponse"/>
                            
    
    
    
    </wsdl:operation>
                  
  
        
        
  
  </wsdl:portType>
          
  
  
  
  <wsdl:binding name="ES_TS_ProductManagementSOAP" type="tns:ES_TS_ProductManagement">
                    
    
    
    
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                    
    
    
    
    <wsdl:operation name="GetAllProducts">
                              
      
      
      
      <soap:operation soapAction="http://www.tibco.EniqueSolutions/BW6Traning/ES_TS_ProductManagement/GetAllProducts"/>
                              
      
      
      
      <wsdl:input>
                                        
        
        
        
        <soap:body use="literal"/>
                                      
      
      
      
      </wsdl:input>
                              
      
      
      
      <wsdl:output>
                                        
        
        
        
        <soap:body use="literal"/>
                                      
      
      
      
      </wsdl:output>
                            
    
    
    
    </wsdl:operation>
                  
  
        
        
  
  </wsdl:binding>
          
  
  
  
  <wsdl:service name="ES_TS_ProductManagement">
                    
    
    
    
    <wsdl:port binding="tns:ES_TS_ProductManagementSOAP" name="ES_TS_ProductManagementSOAP">
                              
      
      
      
      <soap:address location="http://www.example.org/"/>
                            
    
    
    
    </wsdl:port>
                  
  
  
  
  </wsdl:service>
        



</wsdl:definitions>
