Schemas/Session.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.EniqueSolutions.com/BW6Training/Session" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.EniqueSolutions.com/BW6Training/Session">

    <complexType name="SessionType">
    	<sequence>
    		<element name="SessionID" type="string"></element>


    	</sequence>
    </complexType>

    <complexType name="SessionsType">
    	<sequence>
    		<element name="session" type="tns:SessionType"
    			maxOccurs="unbounded" minOccurs="0">
    		</element>
    	</sequence>
    </complexType>

    <element name="Sessions" type="tns:SessionsType"></element>
</schema>